<h1>Seja bem-vindo</h1>
<p>O idioma usado nessa aplicação é: <strong><%= t('actual_locale') %></strong></p>
<p>Bruna Karina</p>
<p> <strong>Data:</strong> <%= l(Date.today)%> </p>
<p><%= t('hello') %></p>

<%= render "menu"%>

<p> Você está em ambiente de <strong><%= ambiente_rails %></strong></p>

<p> variável de instância <%= @meu_nome%> </p>


